@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Book List Management System!</h1>
    <p>Keep track of all the books you either are currently reading or have future interest in reading! </p>
    <br />
    <p>Click on the Book List button in the navigation to get started!</p>
</div>
